extends header 

block content
    .container
        form(method='POST', action='/search/stocks').form-inline.md-form.mr-auto.mb-4
            input.form-control.mr-sm-2(name = 'search', type='text', placeholder='Search', aria-label='Search')
            button.btn.blue-gradient.btn-rounded.btn-sm.my-0.waves-effect.waves-light(type='submit') Predict


        ul.list-group
            li Hello World
    